.shop-now-panels {
  height: 622px; 
  padding-bottom: 100px;
  background-color: white;
  display: grid;
  grid-template-areas:
  "a c d"
  "b c e";
  grid-template-rows: 50% 50%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  // grid-template-columns: 24% 52% 24%;
  gap: 32px;
  .shop-now-panel {
    width: auto; 
    height: auto;
  }
  #one {
    grid-area: a;
    background-color: aquamarine;
  }
  #two {
    grid-area: b;
    background-color: black;
  }
  #three {
    grid-area: c;
    background-color: blanchedalmond;
  }
  #four {
    grid-area: d;
    background-color: burlywood;
  }
  #five {
    grid-area: e;
    background-color: blueviolet;
  }
}
